body {
  background-color: #121212;
  color: #f3fbff;
}
section {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
nav span {
  margin: 0 5px;
}
main {
  max-width: 800px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  color: #f3fbff;
}
p {
  text-align: left;
}
a {
  text-decoration: none;
  color: #beaae9;
}
a:hover {
  text-decoration: underline;
}
footer p {
  text-align: center;
}
